<div class="div">
    <div>
      <h3>khoa hoc da xoa</h3>
      <a href="/me/stored/courses">danh sach khoa hoc</a>
    </div>


    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ten khoa hoc</th>
                <th scope="col">Trinh do</th>
                <th scope="col" colspan="2">Thoi gian tao</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a class="btn btn-primary btn-restore" data-id="{{this._id}}">khoi phuc</a>
                    <a href="" class="btn btn-primary" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-course-modal">xoa vinh vien</a>
                </td>
            </tr>   

            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                thung rac trong
                <a href="/me/stored/courses">Dang khoa hoc</a>
              </td>
            </tr>
            {{/each}}      
        </tbody>
    </table>
</div>

{{!-- confirm delete --}}
<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoa khoa hoc?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Hanh dong nay khong the khoi phuc!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">xoa vinh vien</button>
      </div>
    </div>
  </div>
</div>


<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
  var deleteCourseModal = document.getElementById('delete-course-modal')
  var deleteForm = document.forms['delete-course-form']
  var restoreForm = document.forms['restore-course-form']

  var restoreBtnAll = document.querySelectorAll('.btn-restore');
   restoreBtnAll.forEach((restoreBtn) => {
        restoreBtn.addEventListener('click', (e) => {
            e.preventDefault();

            var courseId = restoreBtn.getAttribute('data-id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        });
    });


  deleteCourseModal.addEventListener('show.bs.modal', event => {
  var button = event.relatedTarget
  var courseId = button.getAttribute('data-id')

  var btnDeleteCourse = document.getElementById('btn-delete-course')

  // when delete btn click
  btnDeleteCourse.onclick = function () {
    deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'
    deleteForm.submit()
  }

  })
</script>